<div class="container">
    <h4>Sobre la App!</h4>
    <p>Esta app es una práctica de la asignatura de Sistemas y Tecnologias Web de la Universidad de La Laguna.</p>
    <p>Esta desarrollada con las tecnologias siguientes:</p>
    <ul>
        <li>NodeJS</li>
        <li>ExpressJS</li>
    </ul>
</div>