<header>
    <div class="container">
        <div class="row">
            <div class="five columns logo">
                <a href="/">Trivial Express</a>
            </div>
            <div class="seven columns nav">
                <nav>
                    <a href="/">Inicio</a>
                    <a href="/about">Sobre la app</a>
                </nav>
            </div>
        </div>
    </div>
</header>