<div class="container">
    <h4><b>Listado de preguntas</b></h4>
    <ul>
    <% for(var i=0; i < questions.length; i++) {%>
       <li><%- link_to(questions[i], '/quiz/' + (i)) %></li>
    <% } %>
    </ul> 
    
    <p><a class="button button-primary" href="/">Volver a Inicio</a></p>
</div>