<div class="container">
    <h5><b>Pregunta de <%= type %></b></h5>
    <div class="row">
        <div class="one-half column">
            <h5><b><%= question %></b></h5>
            <p>Resultado: <%= result %></p>
            <p><a class="button button-primary" href="/questions">Volver al listado</a></p>
        </div>
    </div>
</div>