<div class="container">
    <form name="form" action="/quiz/<%= id %>" method="post">
        <h5><b><%= question %></b></h5>
        <input name="id" type="text"><br>
    </form>
    <p><a class="button button-primary" href="/quiz">Volver al listado</a></p>
</div>