<div class="container">
    <h5><b>Resultado</b></h5>
    <p>Has acertados <a class="result"><b><%= success %></b></a> preguntas y tu puntuación es <a class="result"><b><%= result %></b> puntos.</a></p>
    <p><a class="button button-primary" href="/">Volver a Inicio</a></p>
</div>