<div class="container">
    <h4><b>Trivial Express</b></h4>
    <p>Responde a los diferentes temas y consigue puntos. Hay 6 diferentes temas: Arte y Literatura, Geografia, Ciencia, Deportes, Entretenimiento e Historia, y ten cuidado con el tiempo. Empieza a jugar!!</p>
    <a class="button button-primary" href="/trivial">Empezar!</a>
    <p></p>
    <h4><b>Trivial Training</b></h4>
    <p>Responde a preguntas individuales y mejora tu habilidad</p>
    <a class="button button-primary" href="/questions">Ir al listado</a>
</div>