<div class="container">
  <div class="row">
    <div class="one-half column">
      <h4 style="font-weight: 600">Error <%= error.status %></h4>
      <p><%= message %></p>
      <p><a class="button button-primary" href="/">Volver a Inicio</a></p>
    </div>
  </div>
</div>
